* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Lato', sans-serif;
	line-height: 1;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

:root {
	--sidebar-background-color: #18122a;
	--active-sidebar-link-color: #000000;
	--hover-sidebar-link-color: #433c68;
	--active-link-color: #000000;
	--tooltip-background-color: #433c68;
	--tooltip-text-color: #F5F6F8;
	--remove-background-color: #BA0000;
	--removehoover-background-color:#ff6a6a ;
	--tooltip-font-family: font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 /* Titlebar */
.titlebar {
	align-items: center;
	display: flex;
	background-color: var(--sidebar-background-color);
	height: 30px;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-family: var(--tooltip-font-family);
	font-size: 12px;
	color: var(--tooltip-text-color);
	margin-left: 80px;
}

.titlebar .title {
	flex-grow: 1;
	text-align: center;
}

.actButtons {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 80px;
	background-color: var(--sidebar-background-color);
	align-items: center;
	left: 0;
	top: 0;
}

.actButtons button {
	background: none;
	border: none;
	cursor: pointer;
	height: 100%;
}

.actIcon {
	width: 26px;
	height: 20px;
}

/* Sidebar */
.actButtons button:hover {
	background-color: var(--tooltip-background-color);
}

.sidebar {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 50px;
	background-color: var(--sidebar-background-color);
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
}

.sidebar button {
	background: none;
	border: none;
	padding: 10px 5px;
	cursor: pointer;
	position: relative;
	width: 100%;
}

.sidebar .icon {
	width: 30px;
	height: 30px;
	transition: all ease 450ms;
}

.sidebar button .tooltip {
	position: absolute;
	top: 50%;
	left: 60px;
	transform: translateY(-50%);
	background-color: var(--tooltip-background-color);
	color: var(--tooltip-text-color);
	padding: 8px 15px;
	border-radius: 3px;
	opacity: 0;
	visibility: hidden;
	font-size: 13px;
	letter-spacing: .5px;
	z-index: 3;
}

.sidebar button .tooltip::before {
	content: '';
	display: block;
	position: absolute;
	left: -4px;
	top: 10px;
	transform: rotate(45deg);
	width: 10px;
	height: 10px;
	background-color: inherit;
}

.sidebar button:hover {
	background-color: var(--hover-sidebar-link-color);
	width: 100%;
}

.sidebar button:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

.sidebar button.active {
	background-color: var(--active-sidebar-link-color);
}

.sidebar img {
	height: 16px;
	width: 16px;
	-webkit-app-region: no-drag;
}

.appFavicon {
	margin: 7px;
}

/* Webview */
.webview-container {
	margin-left: 50px;
	flex-grow: 1;
	display: flex;
	align-items: stretch;
	width: calc(100% - 50px);
	position: relative;
}

.webview-container .webview {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.webview-container .webview.active {
	display: block;
}

/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
	background-color: var(--sidebar-background-color);
	border-radius: 20px;
	box-sizing: border-box;
	padding: 20px;
	width: 320px;
	margin: 15% auto;
  }
  
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #eee;
	text-decoration: none;
	cursor: pointer;
  }
  
  .form {
	background-color: #15172b;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 20px;
  }
  
  .modal-title {
	color: #eee;
	font-family: var(--tooltip-font-family);
	font-size: 26px;
	font-weight: 600;
	margin-top: 30px;
  }
  
  .subtitle {
	color: #eee;
	font-family: var(--tooltip-font-family);
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
  }
  
  .input-container {
	height: 50px;
	position: relative;
	width: 100%;
  }
  
  .ic1 {
	margin-top: 40px;
  }
  
  .ic2 {
	margin-top: 30px;
  }
  
  .input {
	background-color: #303245;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	font-size: 18px;
	height: 100%;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
  }
  
  .cut {
	background-color: #15172b;
	border-radius: 10px;
	height: 20px;
	left: 20px;
	position: absolute;
	top: -20px;
	transform: translateY(0);
	transition: transform 200ms;
	width: 76px;
  }
  
  .cut-short {
	width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
	transform: translateY(8px);
  }
  
  .placeholder {
	color: #65657b;
	font-family: var(--tooltip-font-family);
	left: 20px;
	line-height: 14px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
	transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
	color: #808097;
  }
  
  .input:focus ~ .placeholder {
	color: #dc2f55;
  }
  
  .submit {
	background-color: #08d;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	cursor: pointer;
	font-size: 18px;
	height: 50px;
	margin-top: 38px;
	text-align: center;
	width: 100%;
  }
  
  .submit:active {
	background-color: #06b;
  }

  /* Delete Context */
  .context-menu {
	display: none;
	font-size: 13px;
	font-family: var(--tooltip-font-family);
	color: var(--tooltip-text-color);
	position: absolute;
	background: var(--remove-background-color);
	box-shadow: 0 2px 10px var(--tooltip-background-color);
	border-radius: 3px;
	z-index: 1000;
  }
  .context-menu-item {
	padding: 8px 12px;
	cursor: pointer;
  }
  .context-menu-item:hover {
	border-radius: 3px;
	background: var(--removehoover-background-color);
  }